.carousel-inner img {
     width: 1920px;
     height: 1080px;
     margin-left: 5px;
     margin-inline-end: 10px;
     margin-bottom: 5px;
     padding-top: 10px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 10px;

    }
.container{
    margin-left: 100px;
}
.imagenInicio{
    width: 1920px;
    height: 860px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
}
.imagenAcerca{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
}